@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: black;
  color: white;
}

.nav-link hr {
  margin-top: 2px;
}

.nav-link:hover {
  animation-name: link;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.nav-link:hover hr {
  animation-name: hrnav;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.title {
  background-image: linear-gradient(to right, #007dc5, #a00098);
}

.testoFigo {
  background-image: linear-gradient(to right, #007dc5, #a00098, #007dc5, #a00098);
  background-size: 400%;
  color: transparent;
  background-clip: text;
  animation-name: anTestoFigo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anTestoFigo {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

@keyframes link {
  100% {
    background-color: hsl(0,0%,15%);
  }
}

@keyframes hrnav {
  100% {
    width: 90%;
  }
}